@font-face {
	font-family: "Nunito Sans Light";
	src: url("../public/NunitoSans-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Nunito Sans Semi Bold";
	src: url("../public/NunitoSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: "Nunito Sans Extra Bold";
	src: url("../public/NunitoSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

:root {
	/* Fonts */
	--ff-light: "Nunito Sans Light";
	--ff-semibold: "Nunito Sans Semi Bold";
	--ff-extrabold: "Nunito Sans Extra Bold";

	/* Colors */
	--dark-elements: hsl(209, 23%, 22%);
	--dark-text: hsl(0, 0%, 100%);
	--dark-bg: hsl(207, 26%, 17%);
	--light-elements: hsl(0, 0%, 100%);
	--light-text: hsl(200, 15%, 8%);
	--light-bg: hsl(0, 0%, 98%);
	--light-input: hsl(0, 0%, 52%);

	--bgc-app: var(--light-bg);
	--bgc-elements: var(--light-elements);
	--c-text: var(--light-text);
	--c-search: var(--light-input);
	--bxsh: 0px 1px 6px hsl(0, 0%, 92%);
}

.l-app {
	min-height: 100vh;
	background-color: var(--bgc-app);
	color: var(--c-text);
}

.l-app-header {
	--content-columns: 1fr auto;
	--page-gap-size: 5vw;
	background-color: var(--bgc-elements);
	align-items: center;
	padding-block: 4vh;
	margin-block-end: 4vh;
	box-shadow: var(--bxsh);
}

.l-filters {
	--page-gap-size: 5vw;
	row-gap: 6vh;
	margin-block-end: 6vh;
}

.l-cards {
	--page-gap-size: 15vw;
	padding-block-end: 12vh;
	row-gap: 3rem;
}

.l-loading {
	grid-column: wrapper;
	justify-self: center;
}

.l-emptyList {
	grid-column: wrapper;
	justify-self: center;
}

.app-header-heading {
	grid-column: wrapper-start / span 1;
}

.app-header-heading-text {
	font-family: var(--ff-extrabold);
	font-size: 1rem;
}

.app-header-themeToggle {
	grid-column: span 1 / wrapper-end;
	justify-self: flex-end;
}

.app-header-themeToggle-button {
	border: unset;
	background: unset;
	min-width: 44px;
	min-height: 44px;
	color: inherit;
	font-size: 1rem;
	font-family: var(--ff-semibold);
	cursor: pointer;
}

.filters-name {
	position: relative;
	grid-column: wrapper;
}

.filters-name-input {
	border: unset;
	border-radius: 5px;
	box-shadow: var(--bxsh);
	width: 100%;
	padding-block: 1rem;
	padding-inline-start: 5rem;
	padding-inline-end: 2rem;
	background-color: var(--bgc-elements);
	color: var(--c-text);
}

.filters-name-input::placeholder {
	color: var(--c-search);
}

.filters-name-icon {
	position: absolute;
	left: 2rem;
	top: 50%;
	transform: translateY(-50%);
	color: var(--c-search);
}

.filters-region {
	grid-column: wrapper;
}

.filters-region-select {
	border: unset;
	box-shadow: var(--bxsh);
	padding-block: 1rem;
	padding-inline: 1rem;
	font-family: var(--ff-semibold);
	color: inherit;
	background-color: var(--bgc-elements);
	min-width: 10rem;
}

.card {
	grid-column: wrapper;
	background-color: var(--bgc-elements);
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	overflow: hidden;
}

.card-flag {
	background-color: var(--c-text);
	width: 100%;
	height: 30vh;
}

.card-info {
	padding-block-start: 1.5rem;
	padding-block-end: 3rem;
	padding-inline: 1.5rem;
}

.card-info-name {
	font-family: var(--ff-extrabold);
	font-size: 1.5rem;
	margin-block-end: 0.8rem;
}

.card-info-text {
	font-family: var(--ff-light);
}

.card-info-text + .card-info-text {
	margin-block-start: 0.4rem;
}

.card-info-category {
	font-family: var(--ff-semibold);
}

/* Theme styles */

.l-app.dark {
	--bgc-app: var(--dark-bg);
	--bgc-elements: var(--dark-elements);
	--c-text: var(--dark-text);
	--c-search: currentColor;
	--bxsh: none;
}

.l-app.dark .filters-name-input::placeholder {
	opacity: 0.85;
}
