@font-face {
	font-family: "Nunito Sans Light";
	src: url("./NunitoSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Nunito Sans Semi Bold";
	src: url("./NunitoSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Nunito Sans Extra Bold";
	src: url("./NunitoSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
}

/*
* 	Tablet size: min-width: 768px
* 	Laptop size: min-width: 1024px
*/

/* Base Rules */

:root {
	/* Fonts */
	--ff-light: "Nunito Sans Light";
	--ff-semibold: "Nunito Sans Semi Bold";
	--ff-extrabold: "Nunito Sans Extra Bold";

	/* Colors */
	--dark-elements: hsl(209, 23%, 22%);
	--dark-text: hsl(0, 0%, 100%);
	--dark-bg: hsl(207, 26%, 17%);
	--light-elements: hsl(0, 0%, 100%);
	--light-text: hsl(200, 15%, 8%);
	--light-bg: hsl(0, 0%, 98%);
	--light-input: hsl(0, 0%, 52%);

	--bgc-app: var(--light-bg);
	--bgc-elements: var(--light-elements);
	--c-text: var(--light-text);
	--c-search: var(--light-input);
	--bxsh: 0px 1px 6px hsl(0, 0%, 92%);
}

/* Layout Rules */

.l-app {
	min-height: 100vh;
	background-color: var(--bgc-app);
	color: var(--c-text);
}

.l-app-header {
	--content-columns: 1fr auto;
	--page-gap-size: 5vw;
	background-color: var(--bgc-elements);
	align-items: center;
	padding-block: 4vh;
	margin-block-end: 4vh;
	box-shadow: var(--bxsh);
	position: sticky;
	top: 0px;
	z-index: 2;
}

.l-filters {
	--page-gap-size: 5vw;
	row-gap: 6vh;
	margin-block-end: 6vh;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.l-filters {
		--content-columns: 40% 1fr auto;
	}
}

.l-cards-status {
	grid-column: wrapper;
}

.l-cards {
	--page-gap-size: 15vw;
}

@media screen and (min-width: 768px) {
	.l-cards {
		--page-gap-size: 5vw;
	}
}

.l-cards-list {
	grid-column: wrapper;
	list-style-type: none;
}

.l-cards-list-row {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 4vw;
}

@media screen and (min-width: 768px) {
	.l-cards-list-row {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.l-cards-list-row {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Module Rules */

.app-header-heading {
	grid-column: wrapper-start / span 1;
}

.app-header-heading-text {
	font-family: var(--ff-extrabold);
	font-size: 1rem;
}

@media screen and (min-width: 1024px) {
	.app-header-heading-text {
		font-size: 1.5rem;
	}
}

.app-header-themeToggle {
	grid-column: span 1 / wrapper-end;
	justify-self: flex-end;
	position: relative;
}

.app-header-themeToggle-label {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}

.app-header-themeToggle-currValue {
	font-family: var(--ff-semibold);
	font-size: 1rem;
}

.filters-name {
	position: relative;
	grid-column: wrapper;
}

@media screen and (min-width: 768px) {
	.filters-name {
		grid-column-end: span 1;
	}
}

.filters-name-input {
	border: unset;
	border-radius: 5px;
	box-shadow: var(--bxsh);
	width: 100%;
	padding-block: 1rem;
	padding-inline-start: 5rem;
	padding-inline-end: 2rem;
	background-color: var(--bgc-elements);
	color: var(--c-text);
}

.filters-name-input::placeholder {
	color: var(--c-search);
}

.filters-name-icon {
	position: absolute;
	left: 2rem;
	top: 50%;
	transform: translateY(-50%);
	color: var(--c-search);
}

.filters-region {
	grid-column: wrapper;
}

@media screen and (min-width: 768px) {
	.filters-region {
		grid-column: span 1 / wrapper-end;
	}
}

.filters-region-select {
	border: unset;
	box-shadow: var(--bxsh);
	padding-block: 1rem;
	padding-inline: 1rem;
	font-family: var(--ff-semibold);
	color: inherit;
	background-color: var(--bgc-elements);
	min-width: 10rem;
}

.card {
	--card-p-inline: 1.5rem;

	width: 100%;
	height: 100%;
	background-color: var(--bgc-elements);
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding-block-end: 3rem;
	cursor: pointer;
}

@media (hover: hover) {
	.card:hover {
		box-shadow: 0 0 0 2px var(--c-text);
	}
}

.card-heading {
	margin-block: 1.5rem;
	margin-inline: var(--card-p-inline);
	position: relative;
}

.card-heading:focus-within {
	outline: auto;
}

.card-heading-title {
	font-family: var(--ff-extrabold);
	font-size: 1.5rem;
}

@media (hover: hover) {
	.card:hover .card-heading-title {
		text-decoration: underline;
	}
}

.card-heading-button {
	position: absolute;
	z-index: -1;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}

.card-flag {
	width: 100%;
	aspect-ratio: 9/6;
	order: -1;
	background-color: var(--c-text);
}

.card-flag-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-info {
	padding-inline: var(--card-p-inline);
}

.card-info-text + .card-info-text {
	margin-block-start: 0.4rem;
}

.card-info-text {
	font-family: var(--ff-light);
}

.card-info-category {
	font-family: var(--ff-semibold);
}

/* State Rules */

.no-scroll {
	overflow: hidden;
}

.is-loading {
	opacity: 0;
}

/* Theme styles */

.l-app.dark {
	--bgc-app: var(--dark-bg);
	--bgc-elements: var(--dark-elements);
	--c-text: var(--dark-text);
	--c-search: currentColor;
	--bxsh: none;
}

.l-app.dark .filters-name-input::placeholder {
	opacity: 0.85;
}
