@font-face {
	font-family: "Nunito Sans Light";
	src: url("../public/NunitoSans-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Nunito Sans Semi Bold";
	src: url("../public/NunitoSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: "Nunito Sans Extra Bold";
	src: url("../public/NunitoSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

:root {
	/* Fonts */
	--ff-light: "Nunito Sans Light";
	--ff-semibold: "Nunito Sans Semi Bold";
	--ff-extrabold: "Nunito Sans Extra Bold";

	/* Colors */
	--dark-elements: hsl(209, 23%, 22%);
	--dark-text: hsl(0, 0%, 100%);
	--dark-bg: hsl(207, 26%, 17%);
	--light-elements: hsl(0, 0%, 100%);
	--light-text: hsl(200, 15%, 8%);
	--light-bg: hsl(0, 0%, 98%);
	--light-input: hsl(0, 0%, 52%);

	--bgc-app: var(--light-bg);
	--bgc-app-header: var(--light-elements);
	--c-text: var(--light-text);
	--bxsh: 0px 1px 6px hsl(0, 0%, 92%);
}

.app {
	min-height: 100vh;
	background-color: var(--bgc-app);
	color: var(--c-text);
}

.app-header {
	--content-columns: 1fr auto;
	--page-gap-size: 5vw;
	background-color: var(--bgc-app-header);
	align-items: center;
	padding-block: 5vh;
	box-shadow: var(--bxsh);
}

.app-header-heading {
	grid-column: wrapper-start / span 1;
}

.app-header-heading-text {
	font-family: var(--ff-extrabold);
	font-size: 1rem;
}

.app-header-themeToggle {
	grid-column: span 1 / wrapper-end;
	justify-self: flex-end;
}

.app-header-themeToggle-button {
	border: unset;
	background: unset;
	min-width: 44px;
	min-height: 44px;
	color: inherit;
	font-size: 1rem;
	font-family: var(--ff-semibold);
}

/* Theme styles */

.app.dark {
	--bgc-app: var(--dark-bg);
	--bgc-app-header: var(--dark-elements);
	--c-text: var(--dark-text);
	--bxsh: none;
}
